.container{
    -fx-alignment:center;
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

#dashboard-view {
    -fx-alignment:bottom-right;
}

#dashboard-container {
    -fx-min-height:200;
    -fx-max-height:200;
}

.translucidSpace{
    -fx-background-color:black;
    -fx-opacity:0.75;
}

#menu-container{
    -fx-background-color:gray;
    -fx-alignment:center;
}

.test-case-container{
}

.right{
    -fx-alignment:center-right;
}

.left{
    -fx-alignment:center-left;
}

.center{
    -fx-alignment:center;
}

.bottom-right{
    -fx-alignment:bottom-right;
}

.bottom{
    -fx-alignment:bottom-center;
}

.bottom-left{
    -fx-alignment:bottom-left;
}

.top-left{
    -fx-alignment:top-left;
}

.top{
    -fx-alignment:top-center;
}

.top-right{
    -fx-alignment:top-right;
}





.hspace-tiny{
    -fx-min-width:5;
    -fx-max-width:10;
}

.hspace-small{
    -fx-min-width:20;
    -fx-max-width:30;

}

.vspace-tiny{
    -fx-min-height:5;
    -fx-max-height:10;
}

.vspace-small{
    -fx-min-height:20;
    -fx-max-height:20;
}

.text-big{
    -fx-font-size:24;

}
