.container{
    -fx-alignment:center;
}

#dashboard-view {
    -fx-alignment:bottom-right;
}

.translucidSpace{
    -fx-background-color:black;
    -fx-opacity:0.75;
}

#menu-container{
    -fx-background-color:gray;
    -fx-alignment:center;
}

.test-case-container{
}


.center{
    -fx-alignment:center;
}

.bottom-right{
    -fx-alignment:bottom-right;
}

.bottom-left{
    -fx-alignment:bottom-left;
}

.bottom{
    -fx-alignment:bottom-center;
}


.hspace-small{
    -fx-min-width:20;
    -fx-max-width:30;

}

.vspace-small{
    -fx-min-height:20;
    -fx-max-height:20;
}

.text-big{
    -fx-font-size:24;
}

.center-right{
    -fx-alignment:center-right;
}

.vspace-tiny{
    -fx-min-height:5;
    -fx-max-height:5;
}

.scroll-pane .viewport {
    -fx-background-color:transparent;
}

.scroll-pane {
    -fx-background-color:transparent;
    -fx-hbar-policy:never;
}

.test-case-container{
}

.test-case-fragment-container{
    -fx-min-height:36px;
    -fx-max-height:48px;
    -fx-border-width:2px 0px 0px 0px;
    -fx-border-color:lightgray;
    -fx-alignment:center;
}

.test-case-fragment-container-last{
    -fx-border-width:2px 0px 2px 0px;
}

.test-case-fragment-container-even{
    -fx-background-color:derive(lightgray,75%);
}

.test-case-fragment-container-odd{
    -fx-background-color:derive(lightgray,50%);
}

.top{
    -fx-alignment:top-center;
}
