.container{
    -fx-alignment:center;
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

#dashboard-view {
    -fx-alignment:bottom-right;
}

.translucidSpace{
    -fx-background-color:black;
    -fx-opacity:0.75;
}

#menu-container{
    -fx-background-color:gray;
    -fx-alignment:center;
}

